@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;700;900&');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Urbanist', sans-serif;
    background-color: #333;
    color: white;
    font-weight: 300;
    overflow-x: hidden;
}

.text-highlight {
    font-weight: 700;
    color: #F88F58;
}

.page-highlight {
    font-size: 48px;
}
.page-subtitle{
    font-size: 24px;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

section {
    position: relative;
    padding: 5%;
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);

}

.column-section {
    flex-direction: column;
    align-items: start;
}

h3 {
    margin: 0;
}

.section-content {
    height: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    font-weight: 900;
    width: 100%;
    font-size: 64px;
}


.auto-height{
    height: auto;
}

@media screen and (min-width: 500px) {
    .page-highlight {
        font-size: 72px;
        max-width: 930px;
    }
}



/* *************** menu superior ********************** */
nav {
    height: 75px;
    flex-shrink: 0;
    background: #F88F58;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

a {
    font-weight: 900;
    color: #333;
    text-decoration: none;
}

#menu {
    display: none;
}

#menu-button {
    display: none;
    color: #333;
    fill: #333;
}

@media screen and (min-width: 500px) {
    #menu-button {
        display: none;
    }
    
    #menu {
        /* display: flex; */
        display: none;
        width: auto;
        margin-right: 5%;
        gap: 20px;
    }
}

/* ******************* primeira parte ******************* */

.content-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5px;
}
.content-item div {
    gap: 10px;
}

.content-item p{
    line-height: 2em;
    font-size: 18px;
}

.content-item .material-symbols-outlined {
    font-size: 50px;
}

section.main-content {
    position: relative;
    padding: 1em 5%;
    height: auto;
    display: block;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #222;
}

.main-content section{
    height: auto;
}
.main-content .column-section{
    box-shadow: none;

    max-width: 1400px;
    margin: auto;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #222;
}

.align-left{
    align-items: end;
}
.justify-center{
    justify-content: center;
}

.section-image{
    display: none;
    max-width: 600px;
}

@media screen and (min-width: 500px) {
    .section-image{
        display: flex;
        position: absolute;
        right: 0;
        top: 25%;
        height: 60%;
        z-index: 0;
        opacity: 0.15;
        max-width: 600px;
    }
    .image-left{
        left: 10%;
    }
}
@media screen and (min-width: 1050px) {
    .section-image{
        display: flex;
        position: absolute;
        top: 25%;
        height: 70%;
        z-index: 0;
        opacity: 1;
    }
}