@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;700;900&');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, input, button{
    font-family: 'Urbanist', sans-serif;
}
    body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    color: #333;
    font-weight: 300;
    overflow-x: hidden;
    /* overflow: hidden;
    position: fixed; */
}

.background-img {
    height: 100vh;
    width: auto;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

a {
    font-weight: 900;
    color: #333;
    text-decoration: none;
}
#whatsapp-button{
    position: fixed;
    z-index: 1000;
    background-color: #25d366;
    bottom: 1em;
    right: .5em;
    width: 36px;
    height: 36px;
    font-size: 24px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    box-shadow: #222;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 64px;
    position: fixed;
    width: 100vw;

}
nav div{
    display: flex;
    gap: 16px;
}
nav div a:hover{
    color: orangered;
}

nav .logo{
    /* width: 90%; */
    max-width: 150px;
    height: auto;
}
nav a{
    color: #efefef;
}

main h1{
    font-size: 32px;
    margin:  0;
    font-weight: 900;
    font-family: "DM Serif Text";
    padding-bottom: 32px;
} 
main .button{
    font-family: "DM Serif Text";
    width: 200px;
    height: 3em;
    border: none;
    border-radius: 50px;
    color: #efefef;
    cursor: pointer;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    transition: 0.2s;
}
main .button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0);
    /* background-color: orange; */
}
main h2{
    font-size: 32px;
}
main h2, main h3{
    font-family: "DM Serif Text";

}
main section{
    height: 100vh;
    width: 100vw;
    padding: 2em 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section:not(:first-child){
    align-items: center;
    justify-content: space-around;
    background-color: #efefef;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);   
}
article i{
    font-size: 92px;
}
#contato{
    justify-content: center;

}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #222;
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: #efefef;
}


@media screen and (min-width: 500px) {
    main{
        width: 50vw;
    }
    main h1{
        font-size: 82px;
    } 
    
    .background-img {
        width: 100vw;
        height: auto;
    }
    
    body{
        width: 100%;
        height: 100%;
    }
    
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 50vh;
        gap: 64px;
    }
    .content article{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
        background-color: #333;
        border-radius: 8px;
        color: #efefef;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        gap: 32px;
    }
}
